# ingnore all
*

# gitignore
!.gitignore

# Makefile
!Makefile


# Utils
!utils/
!utils/*
!utils/functions/
!utils/functions/*


# Tests
!tests/
!tests/*

# fPCA
!tests/fPCA/
!tests/fPCA/*
!tests/fPCA/functions/
!tests/fPCA/functions/*
!tests/fPCA/scripts/
!tests/fPCA/scripts/*
!tests/fPCA/scripts/fPCA_vs_fPCACS/
!tests/fPCA/scripts/fPCA_vs_fPCACS/*

# fPLS
!tests/fPLS/
!tests/fPLS/*
!tests/fPLS/scripts/
!tests/fPLS/scripts/*
!tests/fPLS/scripts/functions/
!tests/fPLS/scripts/functions/*
!tests/fPLS/scripts/sections/
!tests/fPLS/scripts/sections/*

# Applications
!applications/
!applications/*

# Spatial Transcriptomics
!applications/spatial_transcriptomics/
!applications/spatial_transcriptomics/*
!applications/spatial_transcriptomics/functions/
!applications/spatial_transcriptomics/functions/*
!applications/spatial_transcriptomics/scripts/
!applications/spatial_transcriptomics/scripts/*
!applications/spatial_transcriptomics/scripts/functions/
!applications/spatial_transcriptomics/scripts/functions/*
!applications/spatial_transcriptomics/scripts/sections/
!applications/spatial_transcriptomics/scripts/sections/*


# Formats to be ignored
*.RData
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.zip
.Rhistory
