# ingnore all
*

# gitignore
!.gitignore

# Makefile
!Makefile


# Utils
!utils/
!utils/*
!utils/functions/
!utils/functions/*


# Tests
!tests/
!tests/*

# fPCA
!tests/fPCA/
!tests/fPCA/*
!tests/fPCA/functions/
!tests/fPCA/functions/*
!tests/fPCA/scripts/
!tests/fPCA/scripts/*
!tests/fPCA/scripts/fPCA_vs_fPCACS/
!tests/fPCA/scripts/fPCA_vs_fPCACS/*


# Applications
!applications/
!applications/*


# Formats to be ignored
*.RData
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
.Rhistory
